{% assign p = site.data.business.practitioner %}
{% assign cesena = site.data.business.offices.cesena %}
{% assign gambettola = site.data.business.offices.gambettola %}
<footer
  class="h-48 bg-gradient-to-b from-green-500 to-green-600 flex flex-col justify-center items-center"
>
  <p class="text-center text-white">
    <a href="{{ cesena.page_url }}" class="inline-block mt-2"
      >{{ cesena.street }}, {{ cesena.postal_code }} {{ cesena.city }} ({{ cesena.province }})</a
    ><br />
    <a href="{{ gambettola.page_url }}" class="inline-block mt-2"
      >{{ gambettola.street }}, {{ gambettola.postal_code }} {{ gambettola.city }} ({{ gambettola.province }})</a
    ><br />
    <a href="tel:{{ p.telephone }}" class="inline-block mt-2">+39 {{ p.telephone_display }}</a
    ><br />
    <a href="mailto:{{ p.email }}">{{ p.email }}</a
    ><br />
    P.IVA: {{ p.vat_id }}
  </p>
</footer>
