<!-- prettier-ignore -->
{% assign path = "/quotes/" | append: page.quote %}
{% assign quote = site.quotes | find:"id", path %}

<div class="{{ page.bg-color }} py-12 lg:py-28">
  <div
    class="2xl:container mx-auto px-4 lg:grid lg:grid-cols-3 lg:gap-4 space-y-3 lg:space-y-0"
  >
    <div
      class="lg:col-span-2 {% if page.alternative-layout %} lg:col-start-2 lg:ml-36 {% endif %}"
    >
      <hr
        class="border-4 border-green-500 mx-auto lg:mx-0 w-16 lg:w-20 mb-2 lg:mb-4"
      />
      <h2
        class="text-center lg:text-left text-2xl lg:text-4xl font-bold text-gray-600 mb-8"
      >
        {{ page.title }}
      </h2>
      <div
        class="hidden lg:block max-w-prose text-xl font-light space-y-6 leading-relaxed"
      >
        {{ content }}
      </div>
    </div>
    <div
      class="{{ page.image-aspect-ratio }} -mx-4 lg:mx-0 {% if page.alternative-layout %} lg:col-start-1 lg:row-start-1 {% endif %}"
    >
      <img
        class="{{ page.image-style }} mr-auto lg:mt-6 lg:rounded-xl lg:shadow-lg border-t-4 border-b-4 lg:border-4 border-gray-600"
        src="/assets/img/{{ page.image }}"
        loading="lazy"
        alt='Immagine per la sezione "{{ page.title }}"'
      />
    </div>
    <div
      class="lg:hidden max-w-prose text-lg font-light space-y-4 pt-6 leading-relaxed"
    >
      {{ content }}
    </div>

    {% if quote %}
    <div class="lg:col-span-3 pt-8 lg:pt-16">{{ quote.output }}</div>
    {% endif %}
  </div>
</div>
