---
layout: "default"
---

<div class="py-4 lg:py-12">
  <div
    class="2xl:container mx-auto px-4 flex flex-col lg:grid lg:grid-cols-3 gap-4"
  >
    <div
      class="lg:col-span-2 max-w-prose text-xl font-light space-y-2 lg:space-y-6 leading-relaxed order-2 lg:order-1"
    >
      <hr
        class="border-4 border-green-500 mx-auto lg:mx-0 w-16 lg:w-20 mb-2 lg:mb-4"
      />
      <h1
        class="text-center lg:text-left text-2xl lg:text-4xl font-bold text-gray-600"
      >
        {{ page.title }}
      </h1>
      {% if page.image %}
      <div
        class="-mx-4 lg:mx-0 {% if page.alternative-layout %} lg:col-start-1 lg:row-start-1 {% endif %}"
      >
        <img
          class="w-full lg:w-5/6 mr-auto lg:mt-6 lg:rounded-xl lg:shadow-lg border-t-4 border-b-4 lg:border-4 border-gray-600"
          src="/assets/img/{{ page.image }}"
          alt='Immagine per l&apos;articolo "{{ page.title }}"'
        />
      </div>
      <!-- prettier-ignore -->
      {% endif %}
      {{ content }}
    </div>
    <div
      class="text-xl font-light space-y-2 lg:space-y-6 leading-relaxed text-center lg:text-left order-1 lg:order-2"
    >
      <h2
        class="text-center lg:text-left text-2xl lg:text-2xl font-bold text-gray-400"
      >
        Tutti gli Articoli
      </h2>
      <ol>
        <!-- prettier-ignore -->
        {% for post in site.posts %}
        {% if page.url == post.url %}
        <li class="mb-4 text-gray-500 font-bold">{{ post.title }}</li>
        {% else %}
        <li class="mb-4 text-gray-500">
          <a href="{{ post.url }}" class="hover:underline hover:text-green-600"
            >{{ post.title }}</a
          >
        </li>
        {% endif %}
        <!-- prettier-ignore -->
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
